.contact-page{
    display: flex;
    flex-direction: row;
    padding-top: 7vh;
    min-height: 100vh;
    height: fit-content;
    width: 170vh;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

/* Contact Form */
.contact-form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    font-size: 3.2vh;
    max-width: 75vh;
    height: fit-content;
    padding: 4vh 4vh;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-sent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: rgb(127, 255, 165);
    opacity: 0.5;
    border-radius: 20px;
    padding: 5vh;
    gap: 6vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-sent > button {
    width: 30%;
    font-size: 2vh;
    border: none;
    border-radius: 10px;
    transition: 0.3s ease;
}
.form-sent > button > img{
    margin: 1.5vh;
    height: 3vh;
}
.form-sent > button > p{
    font-weight: bold;
    margin: 2vh;
}
.form-sent > button:hover {
    transform: scale(1.1);
}
.contact-form > h2, label{
    opacity: 0.8;
}
label{
    color: var(--not-black);
    font-size: 2.5vh;
    font-weight: 500;
}
.name-email-div{
    display: flex;
    flex-direction: row;
    gap: 4vh;
}
.sender-name-div{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.sender-email-div{
    flex: 2;
    display: flex;
    flex-direction: column;
}
.subject-div, .message-div{
    display: flex;
    flex-direction: column;
}
input, select, textarea{
    height: 5vh;
    padding: 0 1vh;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: 0;
    transition: 0.1s ease;
}
input:focus, select:focus, textarea:focus{
    background-color: #f8f3e6;
    transform: scale(1.02);
}
input:hover, select:hover, textarea:hover{
    transform: scale(1.02);
}
select{
    opacity: 0.8;
    cursor: pointer;
}
.sender-email-div > input{
    width: 100%;
}
textarea{
    height: 12vh;
    padding: 0.5vw;
}
.alert-text{
    font-size: 2.1vh;
    font-style: italic;
    color: var(--lighter-red);
}
.other-subject{
    margin-top: 1.5vh;
}
.btn-div{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.submit-btn{
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    height: 5vh;
    width: 12vh;
    border-radius: 7px;
    border: 0;
    gap: 1vh;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-size: 1.7vh;
    font-weight: 600;
    opacity: 0.8;
    transition: 0.1s ease;
}
.submit-btn:hover{
    transform: scale(1.05);
    opacity: 1;
}
.submit-btn > img{
    height: 1.7vh;
    width: 1.7vh;
}

/* Separator */
.contact-separator{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    height: 65vh;
    opacity: 0.7;
    color: var(--primary-gray);
}
.contact-separator > .vertical-line{
    border: 2px solid var(--primary-gray);
    flex: 1;
    width: 0;
}

/* Contact Media */
.contact-media-div{
    flex: 1;
    max-width: 75vh;
    display: flex;
    flex-direction: column;
    font-size: 3.35vh;
    gap: 4vh;
    align-items: center;
    h2{
        opacity: 0.9;
    }
}
.anchor-div{
    display: flex;
    flex-direction: column;
    gap: 2.2vh;
    width: 70%;
}
.anchor-div > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    padding: 0 2vh;
    border-radius: 10px;
    color: #c8c8c8;
    transition: 0.15s ease;
    img{
        height: 12vh;
    }
}
.anchor-div > a:hover{
    transform: scale(1.05);
    opacity: 1;
    gap: 15%;
    font-size: 3.5vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.anchor-div > .linkedin:hover{
    color: #0077B5;
}
.anchor-div > .discord:hover{
    color: #7289DA;
}
.anchor-div > .instagram:hover{
    color: #e1306c;
}