.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Intro Section */
.intro-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 91vh;
  width: 90%;
  justify-content: center;
  align-items: center;
  padding-top: 9vh;
}
.intro-container{
  display: flex;
  flex-direction: column;
  margin: 2vw;
  height: 32vh;
  width: 37vw;
  justify-content: space-between;
  word-wrap: break-word;
}
.intro-text{
  font-weight: 700;
  font-size: 5vh;
  color: #4a5072;
}
.intro-text > span{
  font-weight: 700;
  font-size: 5.5vh;
}
.intro-text > .pronounce{
  opacity: 0.5;
  font-size: 3.5vh;
}
.intro-text > .separator{
  font-weight: 700;
  font-size: 4.2vh;
  opacity: 60%;
}
.intro-links{
  width: 60%;
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  gap: 3vh;
  align-items: center;
}
.intro-icon{
  opacity: 0.5;
  display: flex;
}
.intro-icon:hover{
  opacity: 0.8;
}
.intro-links img{
  height: 4vh;
  width: 4vh;
}
.resume-btn{
  font-size: large;
  font-weight: 600;
  display: flex;
  gap: 1vh;
  padding: 0.5vh;
  padding-right: 1vh;
  align-items: center;
  background: none;
  border: 3px solid black;
  border-radius: 10px;
  transition: transform 0.05s ease;
  transform-origin: center;
}
.resume-btn:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.intro-img-container img{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    border: 5px solid var(--fade-red);
    margin: 2vw;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.intro-img-container img:hover{
  border: 5px solid var(--lighter-red);
}
.current-status{
  font-size: 20px;
  max-width: 40vh;
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  color: var(--not-black);
  justify-self: center;
  word-wrap: break-word;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 1.95px 1.95px;
}

/* About_me Section */
.about-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}
.profile-img-container img{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    margin: 2vw;
    object-fit: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.about-container{
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  row-gap: 3vh;
}
.about-container > .name{
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-size: xx-large;
  color: #3b3d47;
  align-items: center;
  gap: 2vh;
  img{
    height: 4.5vh;
  }
}
.about-details{
  display: flex;
  flex-direction: row;
  gap: 5vw;
  font-size: large;
}
.about-details > .detail > p{
  width: fit-content;
  justify-self: center;
  font-style: italic;
  margin-bottom: 1vh;
}
.about-details > .detail > .focus{
  font-size: x-large;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0.5vh;
}
.about-container > .school > img{
  width: 1.5vw;
  height: 1.5vw;
  margin-right: 0.5vw;
}
.about-container > .school{
  font-size: x-large;
  font-style: italic;
  font-weight: 500;
}
.about-skills{
  font-size: x-large;
}
.about-skills > .languages, .technologies{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2vh;
}
.about-skills > .languages > p, .technologies > p{
  font-weight: 500;
}
.skill-container{
  color: var(--not-black);
  padding: 6px;
  margin-left: 1vw;
  font-size: 90%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 5px;
}


/* Projects Section */
.projects-section{
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100vw;
  align-items: center;
  /* if pages overlay, delete justify-content */
  justify-content: center; 
}

.project-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    padding: 2vw;
    margin: 5vh 0;
    gap: 7vw;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.project-img-container img{
    flex: 1;
    border-radius: 10px;
    height: fit-content;
    width: 30vw;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border: 0px solid rgb(107, 107, 156);
    transition: ease 0.2s;
}
.project-img-container img:hover{
  transform: scale(1.03);
  opacity: 1;
  box-shadow: rgba(71, 154, 227, 0.16) 0px 10px 36px 0px, rgba(71, 154, 227, 0.06) 0px 0px 0px 1px;

  /* border: 3px solid lavender; */
}
.project-img-container a:hover{
  opacity: 1;
}
.project-techs{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.project-techs > img{
  height: 60px;
  width: 60px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 50%;
}

.description-container{
    flex: 1;
    max-width: 50vw;
    min-width: 10vw;
    word-wrap: break-word;
    font-size: 27px;
    color: #3b3d47;
    
}